/* common design  */
* {
    margin: 0px;
    padding: 0px;
    font-family: "Roboto", sans-serif;
}



body {
    border: 2px solid red;



}

.header-section {
    background-color: #fff9f1;

}

.section-1 {

    margin: 0px 100px 0px;
    padding-top: 20px;

}

.section-1-1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.section-1-1-2 ul {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 20px;
}

.section-1-1-2 ul li a {
    text-decoration: none;
    color: black;
}



.search-btn {
    padding: 6px 16px;
    background: none;
    border-radius: 4px;
    color: rgb(180, 180, 180);


}

/* section-2  */
.section-2 {
    background-color: #fff9f1;
    background-repeat: no-repeat;
    margin: 0px 100px 0px;
}

.section-2-1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.section-2-1-1 {
    margin-left: 50px;
    text-align: center;
}

.section-2-1-1 h1 {
    font-size: 64px;
    color: yellowgreen;
}

.section-2-1-1 p {
    font-size: 16px;
}

.hero-btn {
    margin-top: 16px;
    border: 2px solid yellowgreen;
    /* background-color: rgb(255, 255, 176); */
    background-color: yellowgreen;
    border-radius: 4px;
    padding: 16px 32px;
    color: white;
    font-weight: 600;
    font-size: 20px;

}

.section-2 img {
    width: cover;
}








/* section-3 */
.section-3 {

    margin: 100px 100px 100px;

}

.section-3-info {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    background-color: rgb(248, 255, 235);
    padding: 28px;
    border-radius: 20px;
}

.section-3 h1 {
    text-align: center;
    font-size: 48px;
    color: yellowgreen;
    margin-bottom: 30px;
}

.section-3-1 {
    display: flex;
    align-items: center;
    border: 2px solid rgb(222, 255, 74);
    border-radius: 8px;
    background-color: rgb(255, 255, 234);
    padding: 12px;
    gap: 10px;
}

.section-3-1 p {
    font-size: 14px;
    margin-top: 4px;
    text-align: justify;
}



/* section-4 */
.section-4 {
    margin: 100px 100px 100px;

}

.section-4-info {

    background-color: aliceblue;
    padding-bottom: 50px;
}

.section-4 h1 {
    text-align: center;
    font-size: 48px;
    color: yellowgreen;
    margin-bottom: 30px;
}

.section-4-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 200px;
    border-radius: 16px;
    padding: 50px;
}

.section-4-btn {
    display: flex;
    justify-content: center;
    margin-top: 24px;


}

.section-4-btn .btn {
    padding: 16px 32px;
    font-size: 20px;
    font-weight: 600;
    color: white;
    border-radius: 6px;
    background-color: yellowgreen;
    border: none;
}



/* section-5 */
.section-5 {
    /* border: 2px solid red; */
    margin: 100px 100px 100px;
    text-align: center;
    background-color: red;
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: rgb(255, 255, 212);
    border-radius: 16px;
}

.section-5-btn .btn {
    padding: 16px 48px;
    font-size: 20px;
    font-weight: 600;
    color: white;
    border-radius: 6px;
    background-color: yellowgreen;
    border: none;

}

.section-5 h1 {
    font-size: 48px;
    color: yellowgreen;
    margin-bottom: 32px;

}


/* section-6  */
.section-6 {
    /* border: 2px solid red; */
    margin-bottom: 100px;
    margin-left: 100px;
    margin-right: 100px;
    background-color: black;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 20px;
}

.section-6-1 h1 {
    font-size: 48px;
    color: yellowgreen;
    margin-bottom: 20px;
}

.section-6-1 p {
    font-size: 20px;
    font-weight: 300;
    color: white;
    margin-bottom: 20px;
}

.section-6-btn .btn {
    padding: 16px 48px;
    font-size: 20px;
    font-weight: 600;
    color: white;
    border-radius: 6px;
    background-color: yellowgreen;
    border: none;

}